name: Node.js CI

on: [manual]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependecies
        run: npm install

      - name: Run tests
        run: npm test